body {
	text-align: center;
}

header.intro-header {
	height: 350px;
	width: 100%;
	margin-bottom: 20px;
}

.row > h1 {
	padding-bottom: 10px;
	font-family: 'Questrial', sans-serif;
}

#tinyrick-button:focus {
	outline: none;
}

#tinyrick-button:hover {
	font-size: 34px;
	text-shadow: 2px 2px #262626;
}

#tinyrick-button {
	width: 225px;
	height: 75px;
	margin-top: 20px;
	font-family: 'Raleway', sans-serif;
	font-size: 33px;
	text-shadow: 1.5px 1.5px #262626;
	letter-spacing: 1.5px;
	color: #FFF;
	background-color: #3ec0e8;
	border: 1px solid #262626;
	border-radius: 5px;
}
